<div class="container">
  <h3>Game rules:</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Paint all grid with the same color</li>
    <li class="list-group-item">
      Each cell you click and his neightbors will invert they color
    </li>
    <li class="list-group-item">Be fun!</li>
  </ul>

  <h3>Game rules:</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Tip 1</li>

    <li class="list-group-item">Be fun!</li>
  </ul>

  <div class="button button-home"  [routerLink]="['/']">
    <div class="title text-center">Back to home</div>
  </div>
</div>
