<div class="game-container">
  <h3>Game rules:</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Paint all grid with the same color</li>
    <li class="list-group-item">
      Each cell you click and his neightbors will invert they color
    </li>
    <li class="list-group-item">Be fun!</li>
  </ul>

  <h3>Some tips:</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <b>Basic movements:</b><br />
      <p>
        By clicking on a cell, it will change its color and that of its
        neighbors. <br />
        This means that you can use it at the ends of the board to make a corner
        or side change the color. If a cell only has 3 neighbors because it is
        in a corner, you can make a 2x2 square disappear (1)<br />
        If, on the other hand, you click on a side, you will affect a group of
        2x3 (2)<br />
        Finally, if you click in the center of the board, it will affect the
        maximum possible cells, inverting a 3x3 square (3).
      </p>
      <div class="text-center">
        <b>Before</b><br />
        <img src="https://i.ibb.co/nDWw2dp/1.png" width="280em" /><br />
        <b>After</b><br />
        <img src="https://i.ibb.co/v3ML9ZS/2.png" width="280em" /><br />
      </div>
      <br />
    </li>

    <li class="list-group-item">
      <b>Some tricks:</b><br />
      <p>
        Sometimes you will have only one strip of cells and you will need to
        complete the square in order to eliminate them. You can generate colored
        cells from the other end of the board and join them to generate a
        square.
      </p>
      <div class="text-center">
        <b>Before</b><br />
        <img src="https://i.ibb.co/CzHvPqG/1.png" width="280em" /><br /><br />
        <b>First step</b><br />
        Click on the opposite side of the board <br />
        (pay attention if you need a row of 2 or 3)
        <br />
        <img src="https://i.ibb.co/YjCwCjm/2.png" width="280em" /><br /><br />
        <b>Second step</b><br />
        Click on the cells marked with the numbers<br />to invert the indicated
        areas
        <br />
        <img src="https://i.ibb.co/hWGgkV2/3.png" width="280em" /><br /><br />
        <b>Third step</b><br />
        Finally, delete the cells that have remained together
        <br />
        <img src="https://i.ibb.co/3Y3V11T/4.png" width="280em" /><br /><br />
      </div>
      <br />
    </li>

    <li class="list-group-item">
      <b>Hawkeye:</b><br />
      <p>
        You must pay special attention to certain patterns that, with a few
        clicks, will allow you to generate tables
      </p>
      <div class="text-center">
        <b>Example:</b><br />
        <img src="https://i.ibb.co/2F916H0/1.png" width="280em" /><br />
        <img src="https://i.ibb.co/PTqbWd5/2.png" width="280em" /><br />
      </div>
    </li>
    
  </ul>

  <div class="button button-home" [routerLink]="['/']">
    <div class="title text-center">Back to home</div>
  </div>
</div>

<br />
<br />
