<div class="game-container">
  <br />
  <form class="form-inline">
    <div class="form-group">
      <select
        class="form-control"
        (change)="startNewwGame()"
        [(ngModel)]="size"
        [ngModelOptions]="{standalone: true}"
      >
        <option value="5" selected> Size 5 </option>
        <option value="8"> Size 8 </option>
        <option value="10"> Size 10 </option>
        <option value="50"> Size 50 </option>
      </select>
    </div>
    &nbsp;
    <div class="form-group">
      <select
        class="form-control"
        [(ngModel)]="shuffleLimit"
        [ngModelOptions]="{standalone: true}"
      >
        <option value="3"> Really easy </option>
        <option value="5" selected> Easy </option>
        <option value="10"> Normal </option>
        <option value="20"> Hard </option>
        <option value="50"> Very Hard </option>
        <option value="500"> Insane </option>
      </select>
    </div>
    &nbsp;
    <button type="submit" class="btn btn-primary" (click)="changesize()">
      Generate</button>&nbsp;
    <button
      type="submit"
      class="btn"
      [class.btn-primary]="imgmode"
      (click)="imgmode = !imgmode"
    >
      Picture Mode</button>&nbsp;
    <button
      type="submit"
      class="btn"
      [class.btn-primary]="coordinate"
      (click)="coordinate = !coordinate"
    >
      Show Coords</button>&nbsp;
    <button
      type="submit"
      class="btn"
      [class.btn-primary]="showrawcode"
      (click)="showrawcode = !showrawcode"
    >
      Show Rawcode</button>&nbsp;
    <button
      type="submit"
      class="btn"
      [class.btn-primary]="showrawcode"
      (click)="updaterawcode()"
    >
      Update Rawcode</button>&nbsp;
  </form>
  <br />
  <form class="form-inline" *ngIf="imgmode">
    <div class="form-group">
      <select
        class="form-control"
        [(ngModel)]="photo1"
        [ngModelOptions]="{standalone: true}"
      >
        <option
          value="https://i.ibb.co/gty82v4/7e91496f93a217fe7115b903895227d7dad89069v2-hq.jpg"
        >
          Misa
        </option>
        <option
          value="https://i.ibb.co/1Tfgbp1/16-168787-kira-god-death-note.jpg"
        >
          Kira
        </option>
        <option
          value="https://uploads.scratch.mit.edu/users/avatars/41325311.png"
        >
          Darth Vader
        </option>
        <option value="https://avatarfiles.alphacoders.com/820/82069.gif">
          Harley Quinn
        </option>
        <option
          value="https://64.media.tumblr.com/tumblr_kufs2n7igT1qzrtxao1_500.jpg"
        >
          Cat
        </option>
        <option value="https://i.imgur.com/nif7ztU.jpeg"> Pink F</option>
        <option
          value="https://cdn.domestika.org/c_limit,dpr_auto,f_auto,q_auto,w_820/v1478450664/content-items/001/764/497/giphy-9-original.gif?1478450664"
        >
          Dancing Batman</option
        >
      </select>
    </div>
    &nbsp;
    <div class="form-group">
      <select
        class="form-control"
        [(ngModel)]="photo2"
        [ngModelOptions]="{standalone: true}"
      >
        <option
          value="https://i.ibb.co/gty82v4/7e91496f93a217fe7115b903895227d7dad89069v2-hq.jpg"
        >
          Misa
        </option>
        <option
          value="https://i.ibb.co/1Tfgbp1/16-168787-kira-god-death-note.jpg"
        >
          Kira
        </option>
        <option
          value="https://uploads.scratch.mit.edu/users/avatars/41325311.png"
        >
          Darth Vader
        </option>
        <option value="https://avatarfiles.alphacoders.com/820/82069.gif">
          Harley Quinn
        </option>
        <option
          value="https://64.media.tumblr.com/tumblr_kufs2n7igT1qzrtxao1_500.jpg"
        >
          Cat
        </option>
        <option value="https://i.imgur.com/nif7ztU.jpeg"> Pink F</option>
        <option
          value="https://cdn.domestika.org/c_limit,dpr_auto,f_auto,q_auto,w_820/v1478450664/content-items/001/764/497/giphy-9-original.gif?1478450664"
        >
          Dancing Batman</option
        >
      </select>
    </div>
  </form>
  <br />
  <div class="panel">
    <div class="trow" *ngFor="let row of grid; let i = index">
      <div class="hand cell" [class.cell5]="size == 5" [class.cell8]="size == 8" [class.cell10]="size == 10"
        [class.cell50]="size == 50" [class.active]="grid[i][j] == '🟢' && !imgmode"
        [class.inactive]="!(grid[i][j] == '🟢') && !imgmode"
        [style.background-image]="grid[i][j] == '🟢' && imgmode ? 'url(' + photo1 + ')' : !(grid[i][j] == '🟢') && imgmode ? 'url(' + photo2 + ') !important' : 'none'"
        (click)="updateclicked(i,j)" style="
             background-position: {{((100/grid.length) * j )}}% {{((100/grid[0].length) * i )}}%;
           " *ngFor="let cell of row; let j = index">
        &nbsp;
        <span *ngIf="coordinate">{{(i) + ' ' + (j)}}</span>
      </div>
    </div>
    <br />

    <div class="rawcode">
      <textarea
        class="form-control"
        [attr.disabled]="true"
        rows="8"
        *ngIf="showrawcode"
      >
{{rawcode}}</textarea>
    </div>
    <br />
    <h4>
      <span *ngIf="gameover"
        >You win!
        <span class="hand" (click)="startNewwGame()">Play again??</span></span>
      <span *ngIf="!gameover">&nbsp;</span>
    </h4>
    <br />
    <br />
    <h5>
      <a href="https://colab.research.google.com/drive/1nk7gqDG_ogPcHYxlw-Qq6ZNpbQEEzDfx?usp=sharing">
        Game Solver in python
      </a>
    </h5>
  </div>
</div>