<div class="game-container">
  <br />
  <form class="form-inline">
    <div class="form-group">
      <select
        class="form-control"
        (change)="startNewwGame()"
        [(ngModel)]="size"
        [ngModelOptions]="{ standalone: true }"
      >
        <option value="5" selected>Size 5</option>
        <option value="6">Size 6</option>
        <option value="8">Size 8</option>
        <option value="10">Size 10</option>
      </select>
    </div>
    &nbsp;
    <div class="form-group">
      <select
        class="form-control"
        [(ngModel)]="shuffleLimit"
        [ngModelOptions]="{ standalone: true }"
      >
        <option value="5" selected>Easy</option>
        <option value="10">Normal</option>
        <option value="20">Hard</option>
        <option value="500">Insane</option>
      </select>
    </div>
    <div class="form-group text-right">
      <div class="button" (click)="changesize()">
        <div class="title text-center">Generate</div>
      </div>
    </div>
    <div class="button button-home" [routerLink]="['/']">
      <div class="title text-center">Back to home</div>
    </div>
    <!--
    <button
      type="submit"
      class="btn"
      [class.btn-primary]="coordinate"
      (click)="coordinate = !coordinate"
    >
      Show Coords</button
    >&nbsp;
    <button
      type="submit"
      class="btn"
      [class.btn-primary]="showrawcode"
      (click)="showrawcode = !showrawcode"
    >
      Show Rawcode</button
    >&nbsp;
    <button
      type="submit"
      class="btn"
      [class.btn-primary]="showrawcode"
      (click)="updaterawcode()"
    >
      Update Rawcode</button
    >&nbsp;-->
  </form>

  <br />
  <div class="panel">
    <div class="grow" *ngFor="let row of grid; let i = index">
      <div
        class="hand gcell"
        [class.gcell5]="size == 5"
        [class.gcell6]="size == 6"
        [class.gcell8]="size == 8"
        [class.gcell10]="size == 10"
        [class.active]="grid[i][j] == '🟢'"
        [class.inactive]="!(grid[i][j] == '🟢')"
        (click)="updateclicked(i, j)"
        *ngFor="let cell of row; let j = index"
      ></div>
    </div>
    <br />

    <div class="rawcode">
      <textarea
        class="form-control"
        [attr.disabled]="true"
        rows="8"
        *ngIf="showrawcode"
        >{{ rawcode }}</textarea
      >
    </div>
    <br />
    <h4>
      <span *ngIf="gameover"
        >You win!
        <span class="hand" (click)="startNewwGame()">Play again??</span></span
      >
      <span *ngIf="!gameover">&nbsp;</span>
    </h4>
    <h3>Game rules:</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Paint all grid with the same color</li>
      <li class="list-group-item">
        Each cell you click and his neightbors will invert they color
      </li>
      <li class="list-group-item">Be fun!</li>
    </ul>
  </div>
</div>
