.grow {
  display: flex;

}

.gcell {
  position: relative;
  flex-basis: 20%;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: darkgray;
  margin: 1px;
  -webkit-box-shadow: inset 0px 0px 0px 3px #413e3e,
    inset 5px 5px 0px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 0px 3px #413e3e,
    inset 5px 5px 0px 1px rgba(255, 255, 255, 0.4);
}

.gcell::before {
  content: '';
  display: block;
  padding-top: 80%;
}


.game-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.trow {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.active {
  background-color: cadetblue;
}

.inactive {
  background-color: rgb(108, 114, 114);
}

.hand:hover {
  cursor: pointer;
}

.rawcode {
  width: 400px;
}

