<div class="game-container screen text-right">
  <div class="title main-title text-center">Ranking:</div>

  <ng-container *ngFor="let player of rankingList; let i=index">
    <div class="rankrow text-center card">
      <div class="rankcolumnpos">
        <span class="rank" [class.winner]="i==0" [class.normal]="i!=0">
          <span>{{i+1}}.</span>
          <!--<img src="assets/winner.svg" *ngIf="i==0">-->
        </span>
      </div>
      <div class="rankcolumnname text-left">
        <span class="rank" [class.winner]="i==0" [class.normal]="i!=0">{{player.player_name}}</span><br />
      </div>
      <div class="rankcolumngames">
        <span class="rank" [class.winner]="i==0" [class.normal]="i!=0">{{player.winned_games}}</span>
      </div>
    </div>
    <span class="date">Last game: {{player.last_played_game | date:'dd/MM/yyyy HH:mm:ss'}} UTC</span>
  </ng-container>
  <br/><br/><br/>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-center">
      <b>
        Why ranking only show the players who have played in the last hour?<br/>
      </b>
      <i>
        Because inverter is a battle arena where every hour someone can claim their position,
        no matter how much you play, you will have to fight again each time to proclaim yourself king of inverter
      </i>
    </li>
  </ul>

</div>

<div class="button button-home" [routerLink]="['/']">
  <div class="title button-title text-center">Back to home</div>
</div>

<br/>
<br/>
