<br /><br />
<div class="text-center">
  <img src="https://i.ibb.co/yy87Wxm/logo.png" width="60%" />
  <br />

  <div class="button">
    <div class="title" [routerLink]="['/games/classic']">Classic Game</div>
  </div>

  <div class="button">
    <div class="title" [routerLink]="['/games/match']">VS Match</div>
  </div>

  <div class="button">
    <div class="title" [routerLink]="['/tutorial']">Tutorial</div>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">alexlatorre@me.com</li>
    <li class="list-group-item">Be fun!</li>
  </ul>
</div>
